/* START border-box fix */
html {
  box-sizing: border-box;
}

/* asterisk (*) symbol represents the universal selector. Its primary function is to select all elements of any type within the document. */

/* :before is a pseudo-element used to insert content before the actual content of a selected element. It creates a "virtual" first child within the element, allowing you to style and add content that isn't directly present in your HTML markup. */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* END border-box fix */

body{
    background-image: url("images/bk.jpg");
    /* background-size: cover; */
}

/* FLEX PARENT */
.container{
    background-color: #eb5e34;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 60px auto;
}

/* FLEX CHILDREN */
header {
    background-color: #bc906a;
    order: 1;
    /* grow on, shrink off, span width of browser */
    flex: 1 0 100%; 
    padding: 20px;

}
header h1, h2 {
    color: #74342b;
    font-family: cascadia mono, monospace;
}

main {
    background-color: #e2e5dc;
    order: 3;
    flex: 1 1 500px;
    padding: 20px;

}
main p, main h3 {
    color: #391212;
    text-decoration: none;
    font-family: open sans, sans-serif;
}
main a {
    text-decoration: none;
    font-family: open sans, sans-serif;
}
main h3:hover {
    color: #bc906a;
}

nav {
    background-color: #74342b;
    order: 2;
    flex: 1 0 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
nav li{
    margin: 12px 0;
}
nav a {
    text-decoration: none;
    color: #eddbc2;
    font-family: cascadia code, monospace;
}
nav a:hover {
    color: #391212;
}

aside {
    background-color: #74342b;
    order: 4;
    flex: 1 0 200px;
    padding: 20px;
}
aside h2{
    color: #eddbc2;
}
aside p {
    color: #1B0909;
    font-family: open sans, sans-serif;
}

footer {
    background-color: #bc906a;
    order: 5;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}
footer h3{
    color: #74342b;
    font-family: cascadia mono, monospace;

}