body{
    background-color: #1C150F;
}

#wrapper {
    background-color: #5C6844;
    width: 70%;
    margin: 0 auto;
    color: #D7CEAF;
    padding: 10px;
    border-radius: 30px;
}

nav{
    border-style: solid;
    border-width: 7px;
    justify-content: space-between;
    display: flex;
    background-color: #B6CCCA;
    color: #67898C;
}

nav a {

    text-decoration: none;
    padding: 10px 20px;
    color: #4B531C;
}

nav a:hover {
    color: #1C150F;
}

div.galleryItem {
    background-color: #1C150F;
    float: left;
    width: 300px;
    height: 300px;
    border: 8px solid #B6CCCA;
    padding: 10px;
    margin: 10px;
}

div.galleryItem img {
    width: 100%;
    height: 200px;
}

div.galleryItem p {
    text-align: center;
    color: #D7CEAF;
}

footer {
    justify-content: center;
    padding: 10px;
    float: none;
    clear: both;
}

footer a {
    text-decoration: none;
    color: #D7CEAF;
}